name: my first workflow

on: push

jobs:
    build_job:
      runs-on: ubuntu-latest
      steps:
      - name: install cowsay 
        run: sudo apt-get install cowsay -y
      - name: execute cowsay command
        run: cowsay -f dragon "run for a cover ,I am a dragon ..." >> dragon.txt
      - name: sleep for 30 sec
        run: sleep 30
        
    test_job:
      runs-on: ubuntu-latest
      steps:
      - name: sleeping for 10 sec
        run: sleep 10
      - name: test file exists
        run: grep -i "dragon" dragon.txt
    deploy_job:
      runs-on: ubuntu-latest
      steps:
      - name: read file
        run: cat dragon.txt
      - name: deploying
        run: echo deploying ....
       
        # - name: cowasy command used for ascii artwork
        #   run: cowsay -f dragon "run for cover , Iam a dragon ...." >> dragon.txt
        # - name: file present or not
        #   run: grep -i "dragon" dragon.txt
        # - name: list files
        #   run: ls -ltra
        # - name: reading dragon.txt
        #   run: cat dragon.txt
        # - name: list files
        #   run: ls -a
        # - name: read file
        #   run: cat README.md
        # - name: disabled workflow
        #   run: echo "disabled workflow"